<div class="modal-header">
  <h4 class="modal-title">Disease</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="name" [(ngModel)]="disease.name"
             name="name">
    </div>
    <div class="form-group">
      <label for="group">Group</label>
      <select class="form-control" id="group" [(ngModel)]="disease.group" name="group">
        <option selected>GROUP_1</option>
        <option>GROUP_2</option>
        <option>GROUP_3</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Close</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(disease)">Save</button>
</div>
