<div class="container">
  <div class="row" align-middle>
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <form [formGroup]="loginForm"  (ngSubmit)="onSubmit($event)">
        <label> username </label>
        <input  type="text" class="form-control" formControlName="username" name="username" id="username" autofocus required>
        <label> password </label>
        <input type="password"  class="form-control" formControlName="password" id="password" name="password">
        <button  type="submit" class="login-button btn btn-primary" id="login-button">Sign in</button>
      </form>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
