<div>
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         routerLink="users-manager">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         routerLink="patients-manager">Patients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         routerLink="diseases-manager">Diseases</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         routerLink="symptoms-manager">Symptoms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         routerLink="medications-manager">Medications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         routerLink="ingredients-manager">Ingredients</a>
    </li>
  </ul>
</div>
