<div>
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         routerLink="start-reasoner">Start reasoner</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         routerLink="find-disease">Find disease for symptoms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         routerLink="find-symptoms">Find symptom for disease</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         routerLink="add-diagnosis">Add diagnosis</a>
    </li>
  </ul>
</div>
