<div>
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         routerLink="chronic-patients">Patients with chronic diseases</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         routerLink="addiction-patients">Addiction patients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         routerLink="immune-patients">Immunodeficiency patients</a>
    </li>
  </ul>
</div>
