<div class="modal-header">
  <h4 class="modal-title">Ingredient</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="name" [(ngModel)]="ingredient.name"
             name="name">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Close</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(ingredient)">Save</button>
</div>
