<table class="table" *ngIf="diseases">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Group</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let u of diseases; index as i">
    <td>{{i + 1}}</td>
    <td>{{u.name}}</td>
    <td>{{u.group}}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="changeEvent.emit(u)">Change</button>
      <button type="button" class="btn btn-danger" (click)="removeEvent.emit(u)">Remove</button>
    </td>
  </tr>
  </tbody>
</table>

